{% extends "_layout.html" %}

{% block content %}
    <div id="term">
    </div>
{% endblock %}


{% block script %}
    <script type="application/javascript">
        function openTerminal(options) {
            var client = new WSSHClient();
            var term = new Terminal(80, 24, function(key) {
                client.send(key);
            });
            term.open();
            $('.terminal').detach().appendTo('#term');
            term.resize(80, 24);
            term.write('Connecting...');
            client.connect($.extend(options, {
                onError: function(error) {
                    term.write('Error: ' + error + '\r\n');
                },
                onConnect: function() {
                    // Erase our connecting message
                    term.write('\r');
                },
                onClose: function() {
                    term.write('Connection Reset By Peer');
                },
                onData: function(data) {
                    term.write(data);
                }
            }));
        }

        $(document).ready(function() {
            var options = {
                bridge_id: {{session_id|tojson}}
            };
            openTerminal(options);
        });             
    </script>
{% endblock %}